@font-face {
	font-family: "Fira Sans Extra Condensed Bold";
	src: url("../fonts/FiraSansExtraCondensed-Bold.ttf") format("truetype")
}

@font-face {
	font-family: "Fira Sans Extra Condensed Extra Bold";
	src: url("../fonts/FiraSansExtraCondensed-ExtraBold.ttf") format("truetype")
}

@font-face {
	font-family: "Fira Sans Extra Condensed Light";
	src: url("../fonts/FiraSansExtraCondensed-Light.ttf") format("truetype")
}

@font-face {
	font-family: "Fira Sans Extra Condensed Medium";
	src: url("../fonts/FiraSansExtraCondensed-Medium.ttf") format("truetype")
}

@font-face {
	font-family: "Fira Sans Extra Condensed Regular";
	src: url("../fonts/FiraSansExtraCondensed-Regular.ttf") format("truetype")
}

@font-face {
	font-family: "Fira Sans Extra Condensed Thin";
	src: url("../fonts/FiraSansExtraCondensed-Thin.ttf") format("truetype")
}

@font-face {
	font-family: "Roboto Regular";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype")
}

@font-face {
	font-family: "Roboto Italic";
	src: url("../fonts/Roboto-Italic.ttf") format("truetype")
}

@font-face {
	font-family: "Roboto Black";
	src: url("../fonts/Roboto-Black.ttf") format("truetype")
}
