/* elements */
ul {
  padding-left: 0;
  li {
    display: inline-block;
    list-style: none;
  }
}
/* header bot  */
.main-container {
  margin-top: 40px;
  .header-bot {
    overflow: hidden;
    .superleague, .ch {
      float: left;
      list-style: none;
      padding-left: 0;
      margin-top: 5px;
      margin-bottom: 0;
      li {
        display: inline-block;
        a {
          width: 30px;
          height: 30px;
          display: block;
          text-indent: -20000px;
          opacity: 1;
          &:hover {
            opacity: .5;
            -webkit-transition: opacity 0.3s;
          	-moz-transition: opacity 0.3s;
          	transition: opacity 0.3s;
          }
        }
      }
    }
    .social {
      float: right;
      padding: 0;
      margin-bottom: 0;
      margin-top: 3px;
      li {
        list-style: none;
        display: inline-block;
        p {
          font-family: "Fira Sans Extra Condensed Regular";
          color: #231f20;
          padding-right: 10px;
        }
      }
    }
    .superleague {

      a.aek {
        background: url(../img/topbar/superleague_sprite.png) 0 -4px no-repeat;
      }
      a.asteras-tripoles {
        background: url(../img/topbar/superleague_sprite.png) 0 -94px no-repeat;
      }
      a.atrometos {
        background: url(../img/topbar/superleague_sprite.png) 0 -244px no-repeat;
      }
      a.erakles {
        background: url(../img/topbar/superleague_sprite.png) 0 -304px no-repeat;
      }
      a.ael {
        background: url(../img/topbar/superleague_sprite.png) 0 -725px no-repeat;
      }
      a.levadeiakos {
        background: url(../img/topbar/superleague_sprite.png) 0 -574px no-repeat;
      }
      a.olubiakos {
        background: url(../img/topbar/superleague_sprite.png) 0 -184px no-repeat;
      }
      a.panathenaikos {
        background: url(../img/topbar/superleague_sprite.png) 0 -334px no-repeat;
      }
      a.panaitolikos {
        background: url(../img/topbar/superleague_sprite.png) 0 -544px no-repeat;
      }
      a.panionios {
        background: url(../img/topbar/superleague_sprite.png) 0 -364px no-repeat;
      }
      a.aokerkuras {
        background: url(../img/topbar/superleague_sprite.png) 0 -633px no-repeat;
      }
      a.paok {
        background: url(../img/topbar/superleague_sprite.png) 0 -424px no-repeat;
      }
      a.pas-giannina {
        background: url(../img/topbar/superleague_sprite.png) 0 -512px no-repeat;
      }
      a.scoda-xanthesa {
        background: url(../img/topbar/superleague_sprite.png) 0 -454px no-repeat;
      }
      a.platanias {
        background: url(../img/topbar/superleague_sprite.png) 0 -663px no-repeat;
      }
      a.veroia {
        background: url(../img/topbar/superleague_sprite.png) 0 -693px no-repeat;
      }
      a.ares {
        background: url(../img/topbar/superleague_sprite.png) 0 -64px no-repeat;
      }
      a.ophe {
        background: url(../img/topbar/superleague_sprite.png) 0 -482px no-repeat;
      }
    }
    .ch {
      li {
        &:first-child {
          width: 20px;
        }
      }
      a.juventus {
        background: url(../img/topbar/ch.png) 0 0 no-repeat;
      }
      a.real-mandrid {
        background: url(../img/topbar/ch.png) 0 -186px no-repeat;
      }
      a.atlentiko-madrid {
        background: url(../img/topbar/ch.png) 0 -38px no-repeat;
      }
      a.chelsea {
        background: url(../img/topbar/ch.png) 0 -69px no-repeat;
      }
      a.milan {
        background: url(../img/topbar/ch.png) 0 -100px no-repeat;
      }
      a.internazionale {
        background: url(../img/topbar/ch.png) 0 -131px no-repeat;
      }
      a.borussia-dortmund {
        background: url(../img/topbar/ch.png) 0 -219px no-repeat;
      }
      a.hellas {
        background: url(../img/topbar/ch.png) 0 -255px no-repeat;
      }
    }
  }
}

/* arrow's preview */
.preview {
  position: relative;
  overflow: hidden;
  .sport-image {
    width: 100px;
    height: 120px;
    float: left;
    padding: 10px;
    margin-top: 0;
  }
  .sport-date {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    font-size: 9px;
    float: left;
    font-family: "Roboto Regular";
    color: #5f5f5f;
    margin-top: 9px;
  }
  .sport-title {
    float: left;
    position: absolute;
    left: 100px;
    width: 120px;
    line-height: 22px;
    text-align: left;
    a {
      font-family: "Fira Sans Extra Condensed Medium";
      color: #231f20;
      font-size: 14px;
      line-height: 12px;

    }
  }
}

/* slider */
.hero-spacer {
  margin-top: 10px;
  position: relative;
  #slidetext {
    text-align: center;
    position: absolute;
    right: 12px;
    bottom: 12px;
    color: #fff;
    font-family: "Fira Sans Extra Condensed Light";
    font-size: 26px;
  }
  .carousel-caption {
    left: 27px;
    top: 29px;
    text-align: left;

    .date-time {
      ul {
        margin-bottom: 0;
        li {
          text-shadow: none;
          &:nth-child(1) {
            background-color: #b5151b;

          }
          &:nth-child(2) {
            background-color: #fff;
            position: relative;
            left: -3px;
            p {
              color: #231f20;
            }
          }
          p {
            margin-bottom: 0;
            font-family: "Fira Sans Extra Condensed Medium";
            font-size: 12px;
            padding: 4px 9px;
          }
        }
        span {
          font-family: "Roboto Regular";
          font-size: 9px;
          margin-left: 10px;
          position: relative;
          top: -1px;
        }
      }
    }
    .title {
      h1 {
        font-family: "Fira Sans Extra Condensed Medium";
        font-style: italic;
        font-size: 54px;
        margin-top: 10px;
      }
      p {
        font-family: "Fira Sans Extra Condensed Light";
        font-size: 30px;
        width: 40%;
        margin-bottom: 0;
      }
      span {
        font-family: "Roboto Italic";
        font-size: 12px;
      }
    }

  }
  .carousel-control {
    .prev-btn {
      position: absolute;
right: 19px;
top: 15px;
    }
    .glyphicon-chevron-right {
      margin-left: -25px;
      right: 0;
      left: 100%;
      position: fixed;
      bottom: 5px;
    }
    .glyphicon-chevron-left {
      margin-left: -25px;
      right: 0;
      left: 100%;
      top: 17px;
    }
  }
  .right.carousel-control {
    top: 200px;
    width: 50px;
    height: 60px;
    transform: translateY(0);
    background: #fff;
    opacity: 1;
    -webkit-transition: transform 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out;
       -moz-transition: transform 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out;
         -o-transition: transform 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out;
        -ms-transition: transform 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out;
            transition: transform 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out;
    &:hover {
      width: 286px;
      height: 120px;
      transform: translateY(-60px);
      .glyphicon-chevron-right {
        position: fixed;
        top: 78%;
        bottom: 0;
      }
    }
    span {
      position: fixed;
      bottom: 12px;
      right: 15px;
    }
  }
  .left.carousel-control {
    float: right;
    right: 0;
    width: auto;
    left: auto;
    top: 260px;
    width: 50px;
    height: 60px;
    background: #fff;
    opacity: 1;
    transform: translateY(0);
    -webkit-transition: transform 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out;
       -moz-transition: transform 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out;
         -o-transition: transform 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out;
        -ms-transition: transform 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out;
            transition: transform 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out;
    &:hover {
      width: 286px;
      height: 120px;
      transform: translateY(-2px);
    }
  }
  .next-preview, .prev-preview {
    display: none;
    position: absolute;
    top: 85px;
    right: 0;
    color: #000;
    background-color: #fff;
    height: 125px;
    width: 286px;
  }
  .right:hover {
    .next-preview {
      display: block;
    }
  }
  .left:hover {
    .prev-preview {
      display: block;
    }
  }
}

/* Newsletter section */
.newsletter-wrapper {
  background-color: #eceded;
  .newsletter-section {
    text-align: center;
    h2 {
      color: #4f5362;
      font-family: 'Roboto Black';
      font-size: 25px;
      margin-top: 50px;
    }
    p {
      font-family: 'Roboto Regular';
      color: #4f5362;
      margin-top: 15px;
      margin-bottom: 35px;
    }
    .form-inline {
      margin-bottom: 60px;
      .form-control, .btn {
        border-radius: 30px;
        border: 0;
        font-family: 'Roboto Regular';
        color: #4f5362;
      }
      .form-control {
        width: 445px;
        margin-right: 10px;
      }
      .btn {
        width: 190px;
        background-color: #fff;
        font-size: 10px;
        padding: 10px;
      }
    }
  }
}
.wall {
  border-left: 1px solid #c4c5c5;
  float: left;
  height: 30px;
  margin-top: 5px;
  margin: 5px 12px;
}
